body {
  background: #333;
  color: #fff;
}

#euroOutput {
  margin-left: 15px;
}

#dollarOutput {
  margin-left: 15px;
}

#poundsOutput {
  margin-left: 15px;
}

.card {
  height: 100px;
}

h6 {
  margin-left: 15px;
}
